/* @import url('./common.scss');

@import url('./icons.scss');
@import url('./variables.scss'); */

$primary-color: tomato;

@mixin flex {
  display: flex;
  align-items: center;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid #333; */
}